<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cálculos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="bg-dark p-5" style="height: 100vh;">
        <div class="container border p-4 bg-white">
            <h1 class="display-4 text-center">Operções básicas</h1>
            <hr />

            <form action="" method="POST">
                <input type="number" placeholder="Digite um número" name="num1" class="form-control my-3">
                <input type="number" placeholder="Digite um número" name="num2" class="form-control my-3">

                <input type="radio" name="opc" id="soma" value="soma">
                <label for="soma">Soma</label>

                <input type="radio" name="opc" id="subt" value="subt">
                <label for="subt">Subtrair</label>

                <input type="radio" name="opc" id="mult" value="mult">
                <label for="mult">Multiplicação</label>

                <input type="radio" name="opc" id="divi" value="divi">
                <label for="divi">Divisão</label>

                <div class=mt-4>
                    <button class="btn btn-primary">Enviar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                    <a class="btn btn-warning" type="reset" href="/juros">Juros</a>
                <div>
            </form>

        </div>
    <div>
</body>
</html>